<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal" routerLink="/">Рецепти на різне</p>
  <a class="btn btn-outline-primary mr-3" routerLink="/addpost">Додати рецепт</a>
  <nav *ngIf="isLoggedIn" >
    <a class="btn btn-success" routerLink="/registration">Зареєструвати адміністратора</a>
    <a class="btn btn-danger mr-3" (click)="logout()">Вийти</a>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a routerLink="/login" *ngIf="!isLoggedIn">Адміністратору</a><br>
    </p>
    <p class="mb-1">Курсовий проект на тему «Каталог кулінарних рецептів»</p>
    <p class="mb-0"> Викона студент групи КН-31з Летвинко Василь</p>
  </div>
</footer>
